@import 'vars';
@import 'text';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
min-height: 100vh;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: $mainBlue;
  min-height: $textMinHeight;

  #logo {
    height: 100%;
    width: auto;
  }
}

#main {
  width: 100%;
  div.page {
    max-width: $textWidth;
    margin: auto;
    padding: 2em;
  }
}

footer {
  background-color: $mainBlue;
  color: white;
  font-size: 80%;
  font-weight: normal;
  min-height: $textMinHeight;
  padding: 2em;

  a {
    color: white;
  }
  a:hover {
    color: white;
  }

  ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    li {
      list-style: none;
      margin-right: 1em;
    }
  }
}

@import 'menu';
@import 'mainPage';
