.anicare_video_title {
  background-color: rgba(0,0,0,.85);
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;

  h2 {
    color: white;
    font-size: 0.9em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: .5em;
    margin: 0;
  }

  a {
    color: white;
    margin-left: 0;
    padding: .5em .5em 0;
  }
}




